footer {
  background-color: rgb(1, 117, 117);
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  font-style: oblique;
  padding: 15px 4%;
  line-height: 1.5;
}

.info {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
}

.aside {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;

}

.navigate{
  display: none;
}

@media (min-width: 1024px) and (max-width: 1439px) {

  footer{
    padding: 15px 150px ;
    justify-content: space-between;
  }
  .navigate{
    display: block;
    justify-items: center;
    position: absolute;
    align-self: center;
  }

  

  .aside{
    position: absolute;
    
  }
}