main {
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 120px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
    main{
        margin: 0 12%;
    }
}