.links {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: black;
  color: white;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 68px; 
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 36px;
  line-height: 60px;
}

a:hover {
  color: lightgray;
}
